<%= stylesheet_link_tag 'registration', :media => "all" %>
<%= form_for @question do |q| %>
    <div class="form">
        <div class="question">
            <p>Student：<%= @question.name %></p>
            <p>Title：<%= @question.title %></p>
            <p>Question：<%= @question.content %></p>
        </div>
        <div class="form_box">
            <div class="field">
                <%= q.label :回答 %>
                <%= q.text_area :answer, size: "30×10" %>
            </div>
        </div>
        <div class="actions">
            <p><%= q.submit "質問に回答する" %></p>
        </div>
    </div>
<% end %>