<%= stylesheet_link_tag 'top', :media => "all" %>

<div class="flex-container">
    <p class="flex-item"><%= link_to 'Contact', chats_path %></p>
    <p class="flex-item"><%= link_to 'Question', questions_path %></p>
    <p class="flex-item"><%= link_to 'Talk', talks_path %></p>
    <p class="flex-item"><%= link_to 'Problem', tests_path %></p>
</div>
