<%= stylesheet_link_tag 'profile', :media => "all" %>

<div class="box">
    <div class="flex-container">
        <h1 class="title">Profile</h1>
        <p class="flex-item">Name: <%= @student.name %></p>
        <p class="flex-item">Address: <%= @student.email %></p>
        <p class="flex-item">Team: <%= @student.team %></p>
        <p class="flex-item">GroupCode: <%= @student.group_code %></p>
        <p class="flex-item">Point: <%= @student.point %></p>
        <% if current_student.id == @student.id %>
        <%= link_to "編集する", edit_student_registration_path %>
        <% end %>
    </div>
</div>


